@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&display=swap');

:root {
  --font-bellota: 'Bellota', sans-serif;
  --font-bellota-text: 'Bellota_Text', sans-serif;
}

body {
  font-family: var(--font-bellota);
}

.font-bellota {
  font-family: var(--font-bellota);
}

.font-bellota-text {
  font-family: var(--font-bellota-text);
}


